{% extends 'index.html' %}
{% load static %}



{% block content %}
<br>

<div class="container">
  <div class="container text-center">
 
    <div class="row align-items-center">
      <div class="col">
        <h3>Lista de Personas</h3>
      </div>
      <div class="col">
        <form class="input-group mb-3" action="">
          <input class="form-control" type="text" name="buscar" placeholder="Apellido">
          <button class="btn btn-outline-primary">Buscar</button>
        </form>
      </div>
      <div class="col">
        <a class="btn btn-light" href="{% url 'crear' %}" role="button">Crear Persona</a>
      </div>
    </div>
  </div>
<br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
          </tr>
        </thead>
        <tbody>
        {% if personas %}
        {% for persona in personas %}
        
          <tr>
            <th scope="row">{{persona.id}}</th>
            <td>{{persona.nombre}}</td>
            <td><a href='{% url "detalle" persona.id %}' style="text-decoration:none">{{persona.apellido}} </a></td>
          </tr>
        {% endfor %}
        {% else %}
            <h3>No hay registros para listar...</h3>
        {% endif %}
        </tbody>
      </table>

</div>


{% endblock %}